{% extends 'base.html' %}
{% block content %}

<div class="catalog_of_goods">
    <ul >
    {% for i in all_categories %}

        <li><a href="{% url 'goods:catalog_details' i.slug %}"> {{i.category}} </a></li>

    {% endfor %}
    </ul>

</div>
<div>
    <p class="about">
    Добро пожаловать! Наш интернет-магазин предоставляет широкий ассортимент электро- и бас-гитар, и обеспечивает быструю и недорогую доставку
    по всей территории России. Все инструменты прошли полную отстройку и предпродажную подготовку, снабжены свежими струнами
    и полностью готовы стать вашими верными спутниками.
    <p>
</div>
{% endblock %}